In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv(r'C:\Users\91926\Downloads\boston_house_prices.csv')

In [5]:
df.head()

,506,13,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4

In [14]:
X=df.iloc[1:,:13]

In [15]:
X.shape

(506, 13)

In [16]:
X

,506,13,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
5,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.9,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21,391.99,9.67
503,0.04527,0,11.93,0,0.573,6.12,76.7,2.2875,1,273,21,396.9,9.08
504,0.06076,0,11.93,0,0.573,6.976,91,2.1675,1,273,21,396.9,5.64
505,0.10959,0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21,393.45,6.48
506,0.04741,0,11.93,0,0.573,6.03,80.8,2.505,1,273,21,396.9,7.88

In [17]:
y=df.iloc[1:,13]

In [18]:
y.shape

(506,)

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [32]:
clf1=LinearRegression()
clf2=DecisionTreeRegressor()
clf3=SVR()

In [33]:
estimators=[('lr',clf1),('dtree',clf2),('svm',clf3)]

In [34]:
for estimator in estimators:
    scores=cross_val_score(estimator[1],X,y,cv=10,scoring='r2')
    print(estimator[0],np.round(np.mean(scores),2))

lr 0.2
dtree -0.08
svm -0.41

In [35]:
from sklearn.ensemble import VotingRegressor

In [36]:
vr=VotingRegressor(estimators)
scorees=cross_val_score(vr,X,y,scoring='r2',cv=10)
print('Voting Regressor',np.round(np.mean(scores),2))

Voting Regressor -0.41

## Weighted Voting

In [37]:
for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            vr=VotingRegressor(estimators,weights=[i,j,k])
            scores=cross_val_score(vr,X,y,scoring='r2',cv=10)
            print('For i={},j={},k={}'.format(i,j,k),np.round(np.mean(scores),2))

For i=1,j=1,k=1 0.44
For i=1,j=1,k=2 0.36
For i=1,j=1,k=3 0.23
For i=1,j=2,k=1 0.43
For i=1,j=2,k=2 0.38
For i=1,j=2,k=3 0.36
For i=1,j=3,k=1 0.37
For i=1,j=3,k=2 0.35
For i=1,j=3,k=3 0.34
For i=2,j=1,k=1 0.45
For i=2,j=1,k=2 0.39
For i=2,j=1,k=3 0.35
For i=2,j=2,k=1 0.45
For i=2,j=2,k=2 0.45
For i=2,j=2,k=3 0.36
For i=2,j=3,k=1 0.39
For i=2,j=3,k=2 0.41
For i=2,j=3,k=3 0.43
For i=3,j=1,k=1 0.44
For i=3,j=1,k=2 0.43
For i=3,j=1,k=3 0.39
For i=3,j=2,k=1 0.46
For i=3,j=2,k=2 0.42
For i=3,j=2,k=3 0.44
For i=3,j=3,k=1 0.43
For i=3,j=3,k=2 0.44
For i=3,j=3,k=3 0.44

In [38]:
# using the same algorithm
dt1 = DecisionTreeRegressor(max_depth=1)
dt2 = DecisionTreeRegressor(max_depth=3)
dt3 = DecisionTreeRegressor(max_depth=5)
dt4 = DecisionTreeRegressor(max_depth=7)
dt5 = DecisionTreeRegressor(max_depth=None)

In [39]:
estimators = [('dt1',dt1),('dt2',dt2),('dt3',dt3),('dt4',dt4),('dt5',dt5)]

In [40]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

dt1 -0.85
dt2 -0.11
dt3 0.03
dt4 0.04
dt5 -0.04

In [41]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print("Voting Regressor",np.round(np.mean(scores),2))

Voting Regressor 0.18

# THANKS